body{
    margin: 0;
    padding: 0;
    background: #121212;
    /* color: aliceblue; */
    font-family: 'Roboto', sans-serif;
    /* font-size: 28px; */
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    background: url(../img/background/fondo-blur-4.jpg) no-repeat fixed bottom center;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 0px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0px;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.navbar-brand{
    margin-left: 0.5rem;
    /* color: #fff; */
}

.navbar{
    /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)); */
    position: fixed;
    z-index: 2;
    width: 100%;
}

nav input{
    height: 36px;
}

nav{
    background: rgba(0,0,0,0.75);
    height: 6%;
}

.banner{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/img/fondo-blur-4.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0,0,0,0.75));
    backdrop-filter: blur(12px);
    background-size: cover;
    background-position: center;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.title{
    font-size: 50px;
    line-height: 100px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slider{
    color: #009688;
    margin-left: 12px;
    box-sizing: border-box;
    animation: slider 6s linear infinite;
}

@keyframes slider{
    0%{ margin-top: -400px;}
    5%{ margin-top: -200px;}
    30%{ margin-top: -200px;}
    35%{ margin-top: 0px;}
    65%{ margin-top: 0px;}
    70%{ margin-top: 200px;}
    100%{ margin-top: 200px;}
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family: sans-serif;
}

select, input{
    height: 50px;
    border-radius: 5px;
    background: transparent;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    color: #009688;
    margin-top: 20px;
}

option{
    color: #009688;
    background: #0b141a;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

#icon{
    min-width: 72px;
    min-height: 72px;
    max-width: 80%;
    /* justify-content: center;
    align-items: center; */
}

.row-cols-5>* {
    flex: 0 0 20%;
    max-width: none;
}

.row-cols-4>* {
    text-align: center;
}

.row-cols-2>* {
    margin-top: 30px;
    max-width: none;
}

.col {
    text-align: center;
}

#logo {
    /* vertical-align: middle!important;
    top: 6%;
    position: relative; */
    /* filter: blur(1px); */
    filter: brightness(200%);
}

#proyectos{
    /* background: rgba(0,0,0,0.9); */
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0));
    backdrop-filter: blur(12px);
}

/* .row-cols-5>* {
    vertical-align: middle!important;
    top: 6%;
    position: relative;
    flex: 0 0 20%;
    max-width: none;
    vertical-align: middle!important;
    position: relative;
} */
